<!DOCTYPE html>
<html>

<head>
    <title>INRIX</title>

    <style>
    </style>

    <link rel="stylesheet" href="style.css">
  
</head>

<body>

    <h1>Route Provider</h1>

    <form>
      <label>Location:</label>
      <input autofocus type="text" id="location" name="location" placeholder="..." >
      <br>

      <label>Destination</label>
      <input autofocus type="text" id="destination" name="destination" placeholder="..." >
      <br>

      <label>Mileage</label>
      <input autofocus type="text" id="mileage" name="mileage" placeholder="..." >
      <br>
      
      <button type="button" onclick="getValue()">Submit</button>
    </form>

  <script src="stuff.js"></script>
</body>
</html>